.film {
  .film__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    .film__image {
      display: flex;
      justify-content: center;
      img {
        height: 25rem;
        width: 20rem;
      }
    }
    .film__info {
      margin-left: 0.5rem;
      h1 {
        font-size: $fs-md;
      }
      p {
        font-size: $fs-md;
      }
    }
    .circle {
      margin-left: 3rem;
      position: relative;
      h1 {
        text-align: center;
        font-size: $fs-md;
        position: absolute;
        top: -12%;
        left: 27%;
      }
      .point {
        left: 4%;
      }
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
  }
}

//for ant design
// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//   font-size: 1.2rem;
// }
