.film {
  .film__detail {
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    @media screen and (max-width: 1180.5px) {
      display: block;
      position: relative;
    }
    .film__image {
      display: flex;
      justify-content: center;
      img {
        width: 120%;
        height: 34rem;
        border-radius: 10px;
        @media screen and (max-width: 1180.5px) {
          width: 130%;
          margin-left: 100px;
        }
      }
      .film__poster {
      }
      .film__trailer {
        position: absolute;
        .play-btn {
          width: 94px;
          height: 94px;
          background: radial-gradient(
            rgba(0, 255, 255, 0.8) 60%,
            rgba(255, 255, 255, 1) 70%
          );
          background-color: transparent;
          border-radius: 50%;
          position: relative;
          display: block;
          align-items: center;
          transform: translate(40px, 210px);
          // box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
          @media screen and (max-width: 1180.5px) {
            transform: translate(162px, 210px);
          }
        }

        /* triangle */
        .play-btn::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translateX(-40%) translateY(-50%);
          transform: translateX(-40%) translateY(-50%);
          transform-origin: center center;
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 25px solid #fff;
          z-index: 100;
          -webkit-transition: all 400ms
            cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        /* pulse wave */
        .play-btn:before {
          content: '';
          position: absolute;

          width: 155%;
          height: 155%;
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
          -webkit-animation: pulsate1 2s;
          animation: pulsate1 2s;
          -webkit-animation-direction: forwards;
          animation-direction: forwards;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: steps;
          animation-timing-function: steps;
          opacity: 1;
          border-radius: 50%;
          border: 5px solid rgba(255, 255, 255, 0.75);
          top: -28%;
          left: -28%;
          background: rgba(198, 16, 0, 0);
        }
      }
    }
    .film__info {
      margin-left: 0.5rem;
      h1 {
        font-size: $fs-md;
      }
      p {
        font-size: $fs-md;
      }
      @media screen and (max-width: 1542px) {
        margin-left: 4rem;
      }
      @media screen and (max-width: 1180.5px) {
        margin-left: 6rem;
        margin-top: 1.5rem;
        margin-left: 0;
        max-width: 100%;
      }
    }
    .circle {
      margin-left: 3rem;
      position: relative;
      h1 {
        text-align: center;
        font-size: $fs-md;
        position: absolute;
        top: -12%;
        left: 27%;
      }
      .point {
        left: 4%;
      }
      @media screen and (max-width: 1180.5px) {
        // display: none;
        position: absolute;
        margin-left: 0;
        top: 124px;
        right: 116px;
      }
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
    @media screen and (max-width: 1542px) {
      margin-left: 5rem;
      margin-right: 3rem;
    }
  }
}

//for ant design
// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//   font-size: 1.2rem;
// }

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}
