.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.2rem 1.5rem;
  z-index: 10;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  @media screen and (max-width: 1024.5px) {
    justify-content: space-between;
  }
  .name {
    img {
      height: 80px;
      width: 200px;
      cursor: pointer;
      @media screen and (max-width: 1024.5px) {
        width: 150px;
      }
    }
  }
  .nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -65px;
    @media screen and (max-width: 1152.5px) {
      right: -48px;
    }
    @media screen and (max-width: 1024.5px) {
      // display: none;
      right: -44px;
    }

    a {
      font-size: $fs-md;
      margin-right: 2rem;
      color: black;
      cursor: pointer;
      text-decoration: none;
      @media screen and (max-width: 1152.5px) {
        font-size: 1.2rem;
      }
      &::after {
        content: '';
        height: 0.15rem;
        background-color: orange;
        margin-top: 0.3rem;
        width: 0%;
        transition: 0.4s;
      }
      &:hover::after {
        width: 100%;
        display: block;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .register__button {
      padding: 0.8rem 0.5rem;
      @media screen and (max-width: 1024.5px) {
        padding: 0.8rem 0rem;
      }
    }
    .login__button {
      padding: 0.8rem 1rem;
    }
  }
}

.user {
  padding-top: 1rem;
}

.logout__section {
  position: relative;
  right: -90px;
  display: flex;
  @media screen and (max-width: 1366.5px) {
    right: -65px;
  }
  @media screen and (max-width: 1280.5px) {
    right: -65px;
  }

  @media screen and (max-width: 1152.5px) {
    right: -60px;
  }
  @media screen and (max-width: 1080.5px) {
    right: -44px;
  }
  @media screen and (max-width: 1024.5px) {
    right: -30px;
  }
  .user h1 {
    font-size: 1.2rem;
    margin-right: 1.2rem;
    @media screen and (max-width: 1024.5px) {
      font-size: 1rem;
    }
  }

  .dropdown {
    display: none;
  }
  .register__button {
    a.animated-button.thar-one {
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
      color: black;
      cursor: pointer;
      display: block;
      position: relative;
      border: 3px solid #f7ca18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      @media screen and (max-width: 1152.5px) {
        font-size: 1rem;
      }
    }
    a.animated-button.thar-one:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: none;
    }
    a.animated-button.thar-one:hover:before {
      bottom: 0%;
      top: auto;
      height: 100%;
    }
    a.animated-button.thar-one:before {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 0px;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #f7ca18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
  }
  .login__button {
    a.animated-button.thar-one {
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem;
      color: black;
      cursor: pointer;
      display: block;
      position: relative;
      border: 3px solid #f7ca18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      @media screen and (max-width: 1152.5px) {
        font-size: 1rem;
      }
    }
    a.animated-button.thar-one:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: none;
    }
    a.animated-button.thar-one:hover:before {
      bottom: 0%;
      top: auto;
      height: 100%;
    }
    a.animated-button.thar-one:before {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 0px;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #f7ca18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
  }

  @media screen and (max-width: 1024.5px) {
    .ant-dropdown-menu {
      position: relative;
      top: 15px;
      right: 146px;
      width: 500px;
      margin: 0;
      padding: 4px 0;
      text-align: left;
      list-style-type: none;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 2px;
      outline: none;
    }
  }

  .navigation {
    display: none;
    font-size: 3rem;
    // @media screen and (max-width: 1024.5px) {
    //   display: block;
    //   position: relative;
    //   right: 80px;
    //   cursor: pointer;
    // }
  }
}

//for navgation button

//for drop down
.ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
  background-color: orange !important;
}

// for dropdown menu when screen < 1023.98px
@media screen and (max-width: 1023.98px) {
  .ant-dropdown-menu {
    position: relative;
    top: 15px;
    right: -150px;

    width: 500px;
    margin: 0;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
  }
  .ant-dropdown-menu-title-content > a {
    color: inherit;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: all 0.3s;
  }
  .ant-dropdown-menu-title-content {
    flex: auto;
    margin-bottom: 1rem;
  }
  .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
    color: black !important;
  }
  .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
    color: black;
  }
}

// for dropdown menu when screen < 567.78px
@media screen and (max-width: 567.78px) {
  .ant-dropdown-menu {
    position: relative;
    top: 15px;
    right: 150px;
    width: 500px;
    margin: 0;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
  }
  .ant-dropdown-menu-title-content > a {
    color: inherit;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: all 0.3s;
    color: black;
  }
  .ant-dropdown-menu-title-content {
    flex: auto;
    margin-bottom: 1rem;
  }
  .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
    color: black !important;
  }
  .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
    color: black;
  }
}
