.edit__info {
  min-height: 100vh;
  h1 {
    margin-top: 10rem;
    font-size: 1.5rem;
  }
  .ant-tabs-card.ant-tabs-left
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-left
    > div
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-right
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-right
    > div
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab {
    margin-top: 2rem;
  }

  .ant-tabs-left
    > .ant-tabs-content-holder
    > .ant-tabs-content
    > .ant-tabs-tabpane,
  .ant-tabs-left
    > div
    > .ant-tabs-content-holder
    > .ant-tabs-content
    > .ant-tabs-tabpane {
    margin-left: 3rem;
  }
}

//for form
.text-field {
  position: relative;
  margin-top: 3.5rem;
}

.text-field label {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: -22px;
  left: -4px;
  background-color: white;
  padding: 1px 5px;
  font-size: 1.2rem;
  transform: translateY(-50%);
  color: grey;
}

.text-field input {
  padding: 15px;
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  font-size: 1.2rem;
}
