.booking__ticket {
  .booking__ticket__section {
    margin-top: 10rem;
    .booking__ticket__screen {
      .trapezoid {
        text-align: center;
        font-size: $fs-md;
      }
    }
    .booking__ticket__pay {
      height: 690px;
      width: 20rem;
      margin-bottom: 2rem;
      .total {
        .money {
          font-size: 2.5rem;
          color: aquamarine;
        }
      }
      .film_info > h1 {
        font-size: 1rem;
        font-weight: 500;
      }
      .seats__total {
        .seats > h1 {
          color: red;
          font-size: 1rem;
        }
        .total > h1 {
          font-size: 1rem;
        }
      }
      .user__email > h1,
      h2 {
        font-size: 1rem;
      }
      .user__phonenumber > h1,
      h2 {
        font-size: 1rem;
      }
      .button {
        margin-top: 10rem;
        .pay__button {
          --color: aquamarine;
          font-family: 'Poppins', sans-serif;
          color: white;
          font-weight: bolder;
          padding: 15px 30px;
          width: 100%;
          border-radius: 4px;
          background-color: var(--color);
          cursor: pointer;
          font-weight: 500;
          outline: none;
          border: none;
          font-size: 16px;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
      }
    }
  }
}
