.booking__ticket {
  .booking__ticket__section {
    // @media screen and (max-width: 1528.5px) {
    //   display: block;
    // }
    .booking__ticket__screen {
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media screen and (max-width: 1722.5px) {
        max-width: 75%;
      }
      .trapezoid {
        text-align: center;
        font-size: $fs-md;
        transform: translateX(-2%);
      }
      .seats {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-bottom: 2rem;
      }
      .define {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1160px) {
          transform: translateX(30px);
        }
        @media screen and (max-width: 1122px) {
          display: block;
          margin-bottom: 0.2rem;
        }
        .normal__seat {
          display: flex;
          margin-right: 1.5rem;
          @media screen and (max-width: 1122px) {
            margin-bottom: 0.4rem;
          }
          .normal__seat__title {
            font-size: 1rem;
            transform: translateY(28%);
            margin-left: 0.5rem;
          }
        }
        .vip__seat {
          display: flex;
          margin-right: 1.5rem;
          @media screen and (max-width: 1122px) {
            margin-bottom: 0.4rem;
          }
          .vip__seat__title {
            font-size: 1rem;
            transform: translateY(28%);
            margin-left: 0.5rem;
          }
        }
        .booking__seat {
          display: flex;
          margin-right: 1.5rem;
          @media screen and (max-width: 1122px) {
            margin-bottom: 0.4rem;
          }
          .booking__seat__title {
            font-size: 1rem;
            transform: translateY(28%);
            margin-left: 0.5rem;
          }
        }
        .booked__seat {
          display: flex;
          margin-right: 1.5rem;
          @media screen and (max-width: 1122px) {
            margin-bottom: 0.4rem;
          }
          .booked__seat__title {
            font-size: 1rem;
            transform: translateY(28%);
            margin-left: 0.5rem;
          }
        }
        .user__booking__seat {
          display: flex;
          margin-right: 1.5rem;

          .user__booking__seat__title {
            font-size: 1rem;
            transform: translateY(28%);
            margin-left: 0.5rem;
          }
        }
      }
    }
    .booking__ticket__pay {
      height: 750px;
      width: 20rem;
      @media screen and (max-width: 1569.5px) {
        // padding: 0;
        max-width: 33%;
        // transform: translateX(180%);
      }
      @media screen and (max-width: 1561px) {
        max-width: 32%;
      }
      @media screen and (max-width: 1539px) {
        max-width: 31%;
      }
      @media screen and (max-width: 1517px) {
        max-width: 30%;
      }
      @media screen and (max-width: 1497.5px) {
        max-width: 29%;
      }
      @media screen and (max-width: 1473.5px) {
        max-width: 28.5%;
      }
      @media screen and (max-width: 1463.5px) {
        max-width: 28%;
      }
      @media screen and (max-width: 1452.5px) {
        max-width: 27.5%;
      }
      @media screen and (max-width: 1442px) {
        max-width: 27%;
      }
      @media screen and (max-width: 1432px) {
        max-width: 26.5%;
      }
      @media screen and (max-width: 1422px) {
        max-width: 25%;
      }
      @media screen and (max-width: 1412px) {
        max-width: 24.5%;
      }
      @media screen and (max-width: 1402px) {
        max-width: 24%;
      }
      .total {
        .money {
          font-size: 2.5rem;
          color: #5bb56f;
        }
      }
      .film_info > h1 {
        font-size: 1rem;
        font-weight: 500;
      }
      .seats__total {
        .seats {
          display: flex;
          .title {
            color: red;
            font-size: 1rem;
          }
          .booking_seats {
            margin-left: 0.5rem;
            color: #5bb56f;
            font-size: 1rem;
            font-weight: bold;
          }
        }
        .total > h1 {
          font-size: 1rem;
        }
      }
      .user__email > h1,
      h2 {
        font-size: 1rem;
      }
      .user__phonenumber > h1,
      h2 {
        font-size: 1rem;
      }
      .button {
        margin-top: 18.563rem;
        .pay__button {
          --color: #5bb56f;
          font-family: 'Poppins', sans-serif;
          color: white;
          font-weight: bolder;
          padding: 15px 30px;
          width: 100%;
          border-radius: 4px;
          background-color: var(--color);
          cursor: pointer;
          font-weight: 500;
          outline: none;
          border: none;
          font-size: 16px;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
        @media screen and (max-width: 1539px) {
          margin-top: 12rem;
        }
        @media screen and (max-width: 1398.5px) {
          margin-top: 5rem;
        }
      }
    }
  }
}
