//Font Size
$fs-xxs: 0.7rem;
$fs-xs: 0.8rem;
$fs-sm: 1rem;
$fs-md: 1.6rem;
$fs-xl: 2rem;
$fs-2xl: 3rem;
$fs-3xl: 4rem;

//padding button
$ptb: 5px;
$plr: 15px;

//color
$c1: white;

//backgroun color
$bgc-1: #fba2d0;
